<!DOCTYPE HTML>
<html>
<head>


</head>
<body>

<div th:fragment="reports">
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
 <div th:text="${reports}" ></div>
 <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script th:inline="javascript">

      /*<![CDATA[*/
	    var totalCount = /*[[${reports.size()}]]*/ 'report' ;
         var fakeCount = /*[[${reports.get("FAKE")}]]*/ 'report';
      var prankCount = /*[[${reports.get("PRANK")}]]*/ 'report';
      var solvedCount = /*[[${reports.get("SOLVED")}]]*/ 'report';
      var timeoutCount = /*[[${reports.get("TIMEDOUT")}]]*/ 'report';
      var supportCount = /*[[${reports.get("SUPPORT")}]]*/ 'report';
console.log("user reports"+fakeCount);

var reports=$("#content").val();
console.log("reports are"+reports+"|");
var chart = new CanvasJS.Chart("chartContainer", {

	animationEnabled: true,
	title: {
		text: "Desktop Search Engine Market Share - 2016"
	},
	data: [{
		type: "pie",
		startAngle: 240,
		yValueFormatString: "##0.00\"%\"", 
		indexLabel: "{label} {y}",
		dataPoints: [
			{y: fakeCount/totalCount*100, label: "Fake"},
			{y: prankCount/totalCount*100, label: "Prank"},
			{y: solvedCount/totalCount*100, label: "solve"},
			{y: timeoutCount/totalCount*100, label: "time-out"},
			{y: supportCount/totalCount*100, label: "support"}
		]
	}]
});
chart.render();
       /*]]>*/
</script>
 
 

</div>
</body>
</html>