<!DOCTYPE html>
<html lang="en">

<head>
<!--Navbar-->
		<th:block th:include="crimestopper-head :: head"></th:block>

</head>

<body>
	<header>
		
			<div class="container">
			
				<!-- Navbar brand -->
				<a class="navbar-brand" href="javascript:history.back()">CrimeStopper</a>

	</header>



	<main>


	<!-- Start your project here-->






	<!-- Start your project here--> <!-- profile -->

	<div align="center" style="padding-bottom: 4;">
		<br>
		<div class="col-xs-12 col-sm-6 col-md-6" style="padding-bottom: 1">



			<div class="card">
				<div class="card-body text-center">
					<p>
						<img class=" img-fluid"
							src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png"
							alt="card image">
					</p>
					<h4 class="card-title"
						th:text="${result.firstName+' '+result.lastName}">Sunlimetech</h4>
					<p class="card-text" th:text="${result.userId}">worikng at
						illud</p>

					<p class="card-text">contact no:70343497935</p>

					<p class="card-text">adress:washington dc near railway cross</p>

				</div>
			</div>
		</div>


	</div>
	</div>
	<!-- ./profile --> <br>
	<br>

	<!-- Card -->
	<div class="card center_margin80 top_margin5">
		<!-- Card content -->
		<div class="card-body">
			<div class="media ">
				<img class="d-flex rounded-circle avatar z-depth-1-half mr-3"
					src="https://mdbootstrap.com/img/Photos/Avatars/avatar-10.jpg"
					alt="Avatar">
				<div class="media-body">
					<h5 class="mt-0 font-weight-bold blue-text"
						th:text="${result.firstName}">you</h5>
					<!-- <h5 class="card-text" th:text="${result.firstName}"></h5> -->
					<table>
						<tbody>
							<tr th:each="complaint: ${complaints}">
								<td th:text="${complaint.description}" />
								
							</tr>
						</tbody>
					</table>
					

					<!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis
					odit minima eaque dignissimos recusandae officiis commodi nulla
					est, tempore atque voluptas non quod maxime, iusto, debitis
					aliquid? Iure ipsum, itaque. -->
				</div>
			</div>
		</div>

		<div class="btn-group" role="group" aria-label="Basic example">
			<button type="button" class="btn btn-tertiary">
				<!-- like-->
				<i class="far fa-thumbs-up"></i>
				<!-- <td>
    <span th:if="${ == 'F'}"></span>
    <span th:unl ess="${teacher.gender == 'F'}">Male</span>
</td>-->
			</button>
			<button type="button" class="btn btn-tertiary">
				<!-- comment-->
				<i class="far fa-comment-alt"></i>
				<form action="/crimestopper-complaint/add" method="post" enctype="multipart/form-data">

				
			</button>
			<button type="button" class="btn btn-tertiary">
				<!-- location-->
				<i class="fas fa-map-marker-alt"></i>
			</button>
		</div>
	</div>
	<!-- Card --> <!-- Card -->
	<!-- <div class="card center_margin80 top_margin1">
		Card content
		<div class="card-body">
			<div class="media ">
				<img class="d-flex rounded-circle avatar z-depth-1-half mr-3"
					src="https://mdbootstrap.com/img/Photos/Avatars/avatar-10.jpg"
					alt="Avatar">
				<div class="media-body">
					<h5 class="mt-0 font-weight-bold blue-text">you</h5>
					 ipsum, itaque.
				</div>
			</div>
		</div> -->

		<!-- <div class="btn-group" role="group" aria-label="Basic example">
			<button type="button" class="btn btn-tertiary">
				like
				<i class="far fa-thumbs-up"></i>
			</button>
			<button type="button" class="btn btn-tertiary">
				comment
				<<i class="far fa-comment-alt"></i>
			</button>
			<button type="button" class="btn btn-tertiary">
				location
				<i class="fas fa-map-marker-alt"></i>
			</button>
		</div> -->
	</div>
	<!-- Card --> <!-- Card -->
	<!-- <div class="card center_margin80 top_margin1">
		Card content
		<div class="card-body">
			<div class="media ">
				<img class="d-flex rounded-circle avatar z-depth-1-half mr-3"
					src="https://mdbootstrap.com/img/Photos/Avatars/avatar-10.jpg"
					alt="Avatar">
				<div class="media-body">
					<h5 class="mt-0 font-weight-bold blue-text">you</h5>
				</div>
			</div>
		</div>

		<div class="btn-group" role="group" aria-label="Basic example">
			<button type="button" class="btn btn-tertiary">
				like
				<i class="far fa-thumbs-up"></i>
			</button>
			<button type="button" class="btn btn-tertiary">
				comment
				<<i class="far fa-comment-alt"></i>
			</button>
			<button type="button" class="btn btn-tertiary">
				location
				<i class="fas fa-map-marker-alt"></i>
			</button>
		</div>
	</div> -->
	<!-- Card --> <!-- Card -->
<!-- 	<div class="card center_margin80 top_margin1">
		Card content
		<div class="card-body">
			<div class="media ">
				<img class="d-flex rounded-circle avatar z-depth-1-half mr-3"
					src="https://mdbootstrap.com/img/Photos/Avatars/avatar-10.jpg"
					alt="Avatar">
				<div class="media-body">
					<h5 class="mt-0 font-weight-bold blue-text">you</h5>
					
				</div>
			</div>
		</div>

		<div class="btn-group" role="group" aria-label="Basic example">
			<button type="button" class="btn btn-tertiary">
				like
				<i class="far fa-thumbs-up"></i>
			</button>
			<button type="button" class="btn btn-tertiary">
				comment
				<<i class="far fa-comment-alt"></i>
			</button>
			<button type="button" class="btn btn-tertiary">
				location
				<i class="fas fa-map-marker-alt"></i>
			</button>
		</div>
	</div> -->
	<!-- Card --> <!-- /Start your project here--> <!-- SCRIPTS --> <!-- JQuery -->
	<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script> <!-- Bootstrap tooltips -->
	<script type="text/javascript" src="js/popper.min.js"></script> <!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script> <!-- MDB core JavaScript -->
	<script type="text/javascript" src="js/mdb.js"></script>
</body>

</html>
